<div class="container">
  <h1>Best Buys in your area!</h1>

  <h3><%= @total %> Total Stores</h2>
  <br>
  <div class="stores">
    <% @stores.each_with_index do |store, i| %>
      <div id="store<%= i %>">
        Name: <%= store.name %><br>
        City: <%= store.city %><br>
        Distance: <%= store.distance %> Miles<br>
        Phone Number: <%= store.phone %><br>
        Store Type: <%= store.storeType %><br>
      </div>
      <br>
    <% end %>
  </div>
  <%= will_paginate @stores %>
</div>
