<h1>Best Buys in your area!</h1>

<h2><%= @total %> Total Stores</h2>
<div class="stores">
  <% @stores.each_with_index do |store, i| %>
    <div id="store<%= i %>">
      Name: <%= store.name %>
      City: <%= store.city %>
      Distance: <%= store.distance %> Miles
      Phone Number: <%= store.phone %>
      Store Type: <%= store.storeType %>
    </div>
  <% end %>
</div>
